@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-segundaria: #f6f6f6;
    --cor-terciaria: #22d4fd;
    --cor-hover: #272727;

    --font-primaria: 'Krona One', sans-serif;
    --font-segundaria: "Montserrat", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-segundaria);
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho-menu {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    padding-right: 15%;

}

.cabecalho-menu-link {
    font-family: var(--font-segundaria);
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--cor-terciaria);
    text-decoration: none;
    padding: 5px;
    border-radius: 10px;
}

.cabecalho-menu-link:hover {
    background-color: var(--cor-hover);
}

.apresentacao {
    padding: 5% 10% 5% 10%;
    max-width: 80rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao-conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao-conteudo-titulo {
    font-size: 2.25rem;
    font-family: var(--font-primaria);
}

.titulo-destaque {
    color: var(--cor-terciaria);
}

.apresentacao-conteudo-texto {
    font-size: 1.5rem;
    font-family: var(--font-segundaria);
}

.aprensentacao-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    justify-content: space-between;
}

.aprensentacao-links-subtitulo {
    font-family: var(--font-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao-conteudo-texto strong {
    color: var(--cor-terciaria);
}

.aprensentacao-links-navegacao {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: #f6f6f6;
    font-family: var(--font-segundaria);
}

.aprensentacao-links-navegacao:hover {
    background-color: var(--cor-hover);
}

.aprensetacao-imagem {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid var(--primary-color)
}

.aprensetacao-imagem-about {
    width: 40%;
    height: 40%;
    object-fit: cover;
    border: 2px solid var(--primary-color)
}

.conteudo-habilidades {
    padding: 5%;
    max-width: 80rem;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 1.5rem;
}

.skills {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;
    padding: 0rem 0rem 1rem 0rem;
}

.skills-titulo {
    text-align: center;
    padding-top: 1rem;
    font-size: 2.25rem;
    font-family: var(--font-primaria);
}

.skills-conteudo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 25rem;
    height: 10.62rem;
    padding: 0.5rem 1rem;
    border: 0.5px;
    border-radius: 10px;
    background-color: rgb(10, 10, 10);
    padding: 1.5rem 0rem;
}

.skills-conteudo:hover {
    background-color: var(--cor-hover);
}

.skills-titulo-link {
    text-align: center;
    gap: 10px;
    width: 100%;
    font-size: 1rem;
    font-weight: 600;
    padding: 5px;
    text-decoration: none;
    color: #f6f6f6;
    font-family: var(--font-segundaria);
}

.rodape {
    padding: 24px;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family: var(--font-segundaria);
    font-size: 1.5rem;
    font-weight: 400;
}

@media (max-width: 1300px) {
    .cabecalho {
        padding: 10%;
    }

    .cabecalho-menu {
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao-conteudo {
        width: auto;
    }
}

@media (max-width: 915px) {
    .skills-conteudo {
        width: 40rem;
    }
}

@media (max-width: 600px) {
    .cabecalho {
        margin: 2px;
    }

    .cabecalho-menu {
        width: auto;
        margin: 2px;
    }

    .skills-conteudo {
        width: 25rem;
    }
}

@media (max-width: 600px) {
    .cabecalho {
        padding: 2% 2% 0;
    }

    .cabecalho-menu {
        display: flex;
        flex-wrap: wrap;
        gap: 0rem;
        justify-content: center;
        padding-right: 0rem;
    }

    .cabecalho-menu-link {
        font-size: 1rem;
    }

    .aprensetacao-imagem {
        margin-top: 1.5rem;
        width: 300px;
        height: 300px;
    }

    .aprensetacao-imagem-about {
        margin-top: 1.5rem;
        width: 300px;
        height: 300px;
        border-radius: 10px;
    }

    .aprensentacao-links {
        gap: 1rem;
    }

    .aprensentacao-links-navegacao {
        gap: 0.8rem;
        width: 80%;
        padding: 1rem 0;

    }
}