@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria: #5a5a5a;
    --cor-segundaria: #fff;
    --cor-terciaria: #0b2532;
    --cor-hover: #272727;

    --font-primaria: 'Krona One', sans-serif;
    --font-segundaria: "Montserrat", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-segundaria);
}

.cabecalho {
    padding: 1% 0% 1% 10%;
    background-color: var(--cor-primaria);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo a {
    font-family: var(--font-primaria);
    font-size: 2rem;
    text-decoration: none;
    color: var(--cor-terciaria);
}

.cabecalho__menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    gap: 20px;
    padding-right: 15%;
}

.cabecalho__menu__link {
    font-family: var(--font-segundaria);
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--cor-terciaria);
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    transition: transform 0.3s ease;
}

.cabecalho__menu__link:hover {
    background-color: #dfdcdc;
    transform: scale(1.05);
}

.presentation {
    padding: 5% 10% 1% 10%;
    max-width: 80rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.presentation__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.presentation__container__title {
    font-size: 1.5rem;
    font-family: var(--font-primaria);
}


.presentation__container__strong__title {
    color: var(--cor-terciaria);
}

.presentation__container__description {

    font-size: 1.1rem;
    font-family: var(--font-segundaria);
}


.presentation__container__links {
    display: flex;
    align-items: center;
    gap: 20px;
}

.presentation__container__links__navigation {
    display: flex;
    gap: 10px;
    text-align: center;
    align-items: center;
    border-radius: 8px;
    font-size: 1.1rem;
    font-weight: 400;
    text-decoration: none;
    color: var(--cor-segundaria);
    font-family: var(--font-segundaria);
    transition: transform 0.3s ease;
}

.presentation__container__links__navigation:hover {
    background-color: var(--cor-hover);
    transform: scale(1.05);
    z-index: 1;
}

.presentation__container__image {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
}

.about__mim {
    background-color: #767676;
    padding: 1% 10% 3% 10%;
}

.description__about__mim {
    font-size: 1.1rem;
    font-family: var(--font-segundaria)
}

.skills {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;
    padding: 0% 10%;
}

.title {
    text-align: center;
    padding: 2% 0% 2% 0%;
    font-size: 1.5rem;
    font-family: var(--font-primaria);
    color: var(--cor-terciaria);
}

.skills__container__box {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 2% 0%;

}

.container__box {
    position: relative;
    width: 12%;
    border-radius: 5px;
    background-color: white;
    padding: 1.5rem 0rem;
    transition: transform 0.3s ease;
}

.container__box:hover {
    background-color: #dfdcdc;
    transform: scale(1.05);

}

.container__skill__image,
.container__skill__image__language {
    position: absolute;
    bottom: 30px;
    left: 20px;
    width: 3rem;
    height: 3rem;
}

.container__skill__image__language {
    bottom: 20px;
    width: 5rem;
    height: 5rem;
}

.container__box p {
    position: absolute;
    bottom: 10px;
    left: 20px;
    font-size: 1.1rem;
    font-family: var(--font-segundaria);
    color: #333;
}

.academic__education {
    background-color: #767676;
    padding: 0% 10% 3% 10%;
}

.academic__education__container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 2% 0%
}

.academic__education__container__box {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.academic__education__container__box__subtitle {
    font-size: 14px;
    font-family: var(--font-segundaria);
    font-weight: 600;
}


.academic__education__container__box p {
    color: #0b2532;
}


.academic__education__container__box__imagem {
    background-color: #fff;
    width: 300px;
    height: 250px;
    border-radius: 5px;
}

.container {
    padding: 1% 10% 5% 10%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 1.5rem;
}

.container__main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    text-align: left;
}


.project__details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 15px;
}

.project__details__description {
    flex-grow: 1;
}

.project__details:nth-child(odd) .project__image {
    order: 2;
}

.project__details:nth-child(odd) .project__details__description {
    order: 1;
}


.project__details__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
}

.project__title {
    font-size: 1.4rem;
    font-family: var(--font-primaria);
    color: var(--cor-terciaria);
}

.project__details__description p {
    font-size: 1.2rem;
    font-family: var(--font-segundaria);
}

.project__image {
    width: 100%;
    height: 70vh;
    border-radius: 5px;
}

.project__access {
    width: 100%;
    display: flex;
    gap: 20px;
}



.project__access__code,
.project__access__demo,
.cv__button {
    padding: 20px;
    display: flex;
    justify-content: center;
    background-color: var(--cor-terciaria);
    width: 100%;
    gap: 5px;
    text-align: center;
    align-items: center;
    border-radius: 5px;
    font-size: 0.8rem;
    text-decoration: none;
    color: #f6f6f6;
    font-family: var(--font-segundaria);
    transition: transform 0.3s ease;
}

.cv__button {
    display: none;
}

.project__access__code {
    background-color: var(--cor-primaria);
    border: 2px solid var(--cor-terciaria);
}


.project__access__code:hover,
.project__access__demo:hover {
    transform: scale(1.05);
}

.whatsapp__image {
    position: fixed;
    top: 85%;
    right: 10%;
    z-index: 999;
    transition: transform 0.3s ease;
}

.whatsapp__image:hover {
    transform: scale(1.5);
}

.whatsapp__image img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.cv__button {
    padding-bottom: 5%;
}


.footer {
    padding: 24px;
    color: var(--cor-terciaria);
    text-align: center;
    font-family: var(--font-segundaria);
    font-size: 1.1rem;
    font-weight: 400;
}


@keyframes buttonClickAnimation {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.animated-button-click {
    animation: buttonClickAnimation 0.3s;
}

@media (max-width: 1400px) {
    .whatsapp__image {
        right: 1rem;
    }
}

@media (max-width: 1300px) {
    .cabecalho__menu {
        justify-content: center;
    }

    .presentation {
        flex-direction: column-reverse;
        padding: 10% 5%;
    }

    .presentation__container {
        width: auto;
    }
}

@media (max-width: 1100px) {
    .cabecalho {
        padding-left: 5%;
    }

    .cabecalho__menu {
        gap: 10px;
        padding-right: 5%;
    }
}

@media (max-width: 915px) {

    .cabecalho {
        position: fixed;
        width: 100%;
        z-index: 1000;
    }

    .container__box {
        width: 40rem;
    }

    .menu {
        display: flex;
    }

    .cabecalho__menu__link {
        display: block;
        padding: 10px;
        text-decoration: none;
        color: var(--cor-terciaria);
    }

    .cabecalho__menu {
        display: none;
    }

    .about__mim,
    .academic__education,
    .container {
        padding: 1% 5%;
    }

    .about__mim {
        width: 90%;
    }

    .skills__container__box,
    .academic__education__container {
        flex-wrap: wrap;
    }

    .container__box {
        padding-top: 12%;
        flex-basis: calc(33.33% - 40px);
    }

    .academic__education__container__box {
        flex-basis: calc(50% - 20px);
    }

    .project__details {
        flex-direction: column;
    }

    .project__details:nth-child(odd) .project__image {
        order: 1;

    }

    .project__details:nth-child(odd) .project__details__description {
        order: 2;
    }

    .cv_item {
        display: flex;
        width: 70%;
        align-items: center;
        padding: 15%;
    }

    .cv__button {
        display: flex;
    }

}

@media (max-width: 500px) {

    .presentation {
        padding-top: 15%;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
    }

    .presentation__container__image {
        width: 300px;
        height: 300px;
    }

    .presentation__container {
        padding: 0%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        align-items: center;

    }

    .presentation__container__links {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        gap: 2rem;
    }

    .presentation__container__links__navigation span {
        display: none;
    }

    .presentation__container__links__navigation {
        gap: 0.8rem;
        width: 80%;
        padding: 1rem 0;
    }

    .container__box {
        width: 20rem;
    }

    .container__box {
        flex-basis: calc(100% - 30px);
        padding-bottom: 50px;
        /* Alterar para 50% da largura com espaço entre os elementos */
    }

    .academic__education__container__box {
        flex-basis: calc(100% - 20px);
        /* Alterar para 100% da largura com espaço entre os elementos */
    }

    .project__details__description {
        padding: 1rem 1rem 3rem 1rem;
    }

    .project__details {
        flex-direction: column;
    }

    .project-access {
        width: 100%;
        justify-content: center;
        padding: 0.5rem;
    }

    .project__image {
        width: 320px;
        height: 300px;
    }
}